@import "../../common/css/index.less";
.header {
  position: absolute;
  z-index: 5;
  width: 100%;
  line-height: 50px;
  top: 0;
  background-color: @main;
  transition: transform 300ms;
  &.show {
    transform: translateX(250px);
  }
}
.bar {
  position: relative;
}
.title {
  text-align: center;
  font-size: 16px;
  color: @main5;
}
.pull-left, .pull-right {
  position: absolute;
  width: 50px;
  text-align: center;
  color: @main5;
  top: 0;
}
.pull-left {
  left: 0;
}
.pull-right {
  right: 0;
}
.mask {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.4);
  z-index: 6;
}
